(.venv) root@Ubuntu-2204-jammy-amd64-base /etc/systemd/system # cat sea.service
[Unit]
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/srv/ypfh_sea
ExecStart=/srv/ypfh_sea/.venv/bin/waitress-serve src:app
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target